- if !@books.empty?
  %h1 
    Books:
  .col-md-6
    %table.table.table-hover
      %tr
        %th
          Title
        %th
          Option    
      - @books.each do |b|
        %tr
          %td
            = link_to "#{b.title}"
          %td
            = link_to "Select", {:controller => "authors", :action => "add_book", :id => b.id, :author_id => params[:author_id]}, method: :post
