/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";

.title {
  font-size: 20pt;
}


table {
  th {
    text-align: center;
  }
}

td {
    text-align: center;
    vertical-align:middle;
  }

.carts {
  margin-top: 20px;
  margin-left: 20px;
  margin-bottom: 20px;
}

.cart-data {
  margin-top: 10px;
  margin-left: 20px;
  margin-bottom: 20px;
}

.image {
  float: left;
  margin: 10px 10px 10px 0;
}

.menu {
  margin-top: 30px;
  border-right: 1px solid black;
  position: fixed;
  float: right;
  padding-right: 50px;
}


.data {
  margin-top: 30px;
}

.cart {
    position: fixed;
    float: right;
    margin-right: 30px;
    .pic {
      border: 1px solid black;
      float: right;
    }
}

.form {

}

.book-index {
  .title {
    a {
      color: blue;
    }
  }
  .config-btns {
    float: right;
  }
  margin-top: 10px;
  margin-left: 20px;
  margin-bottom: 20px;
}

.author-index {
  .photo {
    float: bottom;
  }
  .name {

  }
  .single {
    
  }

}

.author {
  .about {
    margin-top: 30px;
  }
}

.book {
  .info {
    margin-top: 70px;
    margin-left: 250px;
  }
}

