/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import url(http://fonts.googleapis.com/css?family=Raleway:400|Ropa+Sans|Bree+Serif);



.table tbody tr {
  &.confirmed {
    background-color: rgba(0, 255, 0, 0.46) !important;
  }
  &.canceled {
    background-color: rgba(249, 120, 120, 0.52) !important;
  }
  &:hover {
    background-color: whitesmoke !important;
  }
}


.notice {
  position: fixed;
  z-index: 99;
  top: 0;
  padding: 10px;
  text-align: center;
  color: white;
  font-weight: 600;
  width: 100%;
  background: rgba(100, 219, 208, 0.9);
}

.alert {
  position: fixed;
  z-index: 99;
  top: 0;
  padding: 10px;
  text-align: center;
  color: white;
  font-weight: 600;
  width: 100%;
  background: rgba(252, 52, 97, 0.9);
}

.center {
  text-align: center;
}

.head {
  background-color: #020B3C;
  height: 50px;
  position: fixed;
  z-index: 2;
  #logo{
    a {
      text-decoration: none;
      color: white;
    }
    padding-left: 20px;
    font-size: 33px;
    color: white;
    font-family: 'Bree Serif', serif;
  }
  .search {
    padding-top: 9px;
  }
  .cart {
    background: white;
    text-align: center;
    border-radius: 10px;
    width: 12%;
    float: right;
  }
}

.menu {
  font-family: 'Ropa Sans', sans-serif;
  margin-top: 50px;
  padding-bottom: 20px;
  background: #000000;
  height: 100%;
  ul {
    list-style-type: none;
    padding: 0;
    li {

    }
  }
  a {
    text-decoration: none;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    &:hover{
      color: white;
    }
    &.btn {
      color: black;
    }
    color: rgb(69, 190, 187);
  }
  .static-labels {
    color: #FFF;
  }
}

.content {
  font-family: 'Raleway', cursive;
  padding-top: 90px;
  font-size: 16px;
  .breadcrumb {
    font-size: 20px;
  }
  .pagination {
    font-size: 20px;
  }
  .sort-field {
    background-color: whitesmoke;
    padding: 6px;
    padding-left: 14px;
    font-size: 20px;
    border-radius: 5px; 
  }
  .book {
    .info {
      font-size: 20px;
    }
  }
  .book-index {
    border-bottom: 1px solid rgb(215, 208, 208);
    padding-bottom: 10px;
  }
  .title-index {
    padding: 3px;
    font-size: 40px;
  }
  .image-index {
    float: left;
  }
  .about {
    font-size: 13px;
  }
  .author-index {
    border-bottom: 1px solid rgb(215, 208, 208);
    padding-bottom: 10px;
  }

  .author {
    .about {
      margin-left: 20px;
      font-size: 16px;
    }
  }
}

.footer {
  height: 100px;
  text-align: center;
  padding-top: 35px;
  color: grey;
}