%h3 In categories:
- categories.each do |cat|
  - if cat.last
    = link_to "#{cat.last.category.title}", search_path(title: title, category: cat.last.category.title)
    (
    = cat.count
    )
    %br