.col-md-8
  %h1
    Category: 
    = @category.title
  %h3 
    Books:
    - if admin_signed_in?
      = link_to "New +", new_category_book_path(@category), class: "btn btn-default"

.col-md-9
  = render 'books_list', books: @books , order_book: @order_book, q: @q